<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Player - HomePage</title>
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/home.css">

    <!-- GOTHAM FONT -->
    <link rel="https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/gotham.css">
</head>
<body>
    <div class="container">
        <div id="app-home">
          <div class="tt-home degrade-color">
            <h1>Explore diversas músicas</h1>
            <a href="/player">
                <button>Explorar</button>
                    
              </a>

          </div>
          <div class="img-home">
                <img src="/imgs/home-image.png" alt="">
          </div>

        </div>
    </div>

    <script src="/js/background.js"></script>
</body>
</html>